<%= form_with model: @candidate do |u| %>

  <%= fields_for :user, @candidate.user do |f| %>

    <div class="form-group">
      <%= f.label :email, 'E-mail' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="form-group">
      <%= f.label :password, 'Senha' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, 'Confirme sua senha' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="form-group">
      <%= f.label :name, 'Nome Completo' %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :cpf, 'CPF' %><br />
      <%= f.text_field :cpf, autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :number, 'Celular' %><br />
      <%= f.text_field :number, autofocus: true %>
    </div>
  <% end %>

  <div class="form-group">
    <%= u.label :college, 'Faculdade' %><br />
    <%= u.text_field :college, autofocus: true %>
  </div>

  <div class="form-group">
    <%= u.label :wins, 'Conquistas' %><br />
    <%= u.text_field :wins, autofocus: true %>
  </div>

  <div class="form-group">
    <%= u.label :biography, 'Biografia' %><br />
    <%= u.text_field :biography, autofocus: true %>
  </div>

  <div class="btn btn-primary">
    <%= u.submit "Concluir cadastro" %>
  </div>
<% end %>